<!DOCTYPE html>
<html>

<head>
    <title>
        ejs
    </title>
    <!-- <link rel="stylesheet" href="../public/stylesheets/style.css" /> -->
</head>

<body>
    <div class="list-page">
        <div>
            <div class="list-page-item">
                <div class="el-card is-always-shadow">
                    <!---->
                    <div class="el-card__body">
                        <div class="item-box">
                            <div>
                                <p>公司名称: 中科软科技&nbsp;&nbsp;&nbsp;&nbsp;代码: 10043</p>
                                <p>邮编: 730070&nbsp;&nbsp;&nbsp;&nbsp;地址: 上海市闸北区江场三路</p>
                            </div> <span class="icon-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-page-item">
                <div class="el-card is-always-shadow">
                    <!---->
                    <div class="el-card__body">
                        <div class="item-box">
                            <div>
                                <p>公司名称: 中科软科技&nbsp;&nbsp;&nbsp;&nbsp;代码: 10056</p>
                                <p>邮编: 730070&nbsp;&nbsp;&nbsp;&nbsp;地址: 上海市闸北区江场三路</p>
                            </div> <span class="icon-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-page-item">
                <div class="el-card is-always-shadow">
                    <!---->
                    <div class="el-card__body">
                        <div class="item-box">
                            <div>
                                <p>公司名称: 中科软科技&nbsp;&nbsp;&nbsp;&nbsp;代码: 123123</p>
                                <p>邮编: 730070&nbsp;&nbsp;&nbsp;&nbsp;地址: 上海市闸北区江场三路</p>
                            </div> <span class="icon-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-page-item">
                <div class="el-card is-always-shadow">
                    <!---->
                    <div class="el-card__body">
                        <div class="item-box">
                            <div>
                                <p>公司名称: 中科软科技&nbsp;&nbsp;&nbsp;&nbsp;代码: 65456</p>
                                <p>邮编: 730070&nbsp;&nbsp;&nbsp;&nbsp;地址: 上海市闸北区江场三路</p>
                            </div> <span class="icon-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-page-item">
                <div class="el-card is-always-shadow">
                    <!---->
                    <div class="el-card__body">
                        <div class="item-box">
                            <div>
                                <p>公司名称: 上海公司&nbsp;&nbsp;&nbsp;&nbsp;代码: 526341</p>
                                <p>邮编: 154263&nbsp;&nbsp;&nbsp;&nbsp;地址: 上海市科技</p>
                            </div> <span class="icon-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-page-item">
                <div class="el-card is-always-shadow">
                    <!---->
                    <div class="el-card__body">
                        <div class="item-box">
                            <div>
                                <p>公司名称: 中科软科技&nbsp;&nbsp;&nbsp;&nbsp;代码: 88888</p>
                                <p>邮编: 730070&nbsp;&nbsp;&nbsp;&nbsp;地址: 上海市闸北区江场三路</p>
                            </div> <span class="icon-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>